@model IEnumerable<TaloWeb.Saunat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanSijainti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanSijainti)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SaunaID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SaunaID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SaunaID })
        </td>
    </tr>
}

</table>
